li.class-ErrorPage {
	display: none !important;
}

body .ss-gridfield-orderable .col-reorder{
	padding: 0 20px !important;
	cursor: move;
}

.col-CMSThumbnail img {
    max-width: 100px;
    height: auto;
}