@import "../base/mixins";

/* Form element
----------------------------------------------- */
form {
	width: 100%;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

div.field {
	margin: 10px 0 15px;
}

/* Labels
----------------------------------------------- */
form label {
	position: relative;
	margin-bottom: 5px;
	font-size: 15px;
	&.left {
		display: inline-block;
		font-weight: 500;
		color: #666;
	}
	&.right {
		font-size: 12px;
		color: #999;
	}
}

/* Text, textarea & select inputs
----------------------------------------------- */
input.text, textarea, select {
	width: 100%;
	padding: 6px 5px;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #dad9d9;
	&:focus{
		outline: none;
	}
}

input[disabled], textarea[disabled] {
	background-color: #f7f7f7;
	border: 1px solid #dad9d9;
}

textarea {
	display: block;
	resize: vertical;
}

/* Radio & checkbox inputs
----------------------------------------------- */
input.checkbox, input.radio{
	float: left;
	width: 13px;
	height: 13px;
	margin: 8px 6px 0px 0;
	padding: 0;
}

div.checkbox, div.radio{
	@include clearfix;
	& input.checkbox{
		margin-top: 0;
	}
	& label.right {
		float: left;
	}
}

/* Radio / Checkbox */
.checkboxset, .optionset {
	& ul {
		margin: 0;
		& li {
			margin-bottom: 5px;
			list-style-type: none;
		}
	}
}

/* VALIDATION
----------------------------------------------- */

.field .message.required{
	color: rgb(185, 8, 8);
	margin: 5px 0;
	display: block;
}

/* Actions
----------------------------------------------- */
.Actions, .btn-row {
	margin: 10px 0;
	@include clearfix;
}

/* Login Form
----------------------------------------------- */
#Remember {
	min-height: 20px;
}

#ForgotPassword {
	clear: left;
}

#MemberLoginForm_LostPasswordForm .Actions:after {
	display: none;
}

/* USER DEFINED USER FORM MODULE STYLES
----------------------------------------------- */
/*Generic and mixed*/
.FormHeading {
	clear: both;
	padding-top: 15px; }

form .date .middleColumn input {
	width: 114px;
}

.Actions input.resetformaction,
.Actions input.action-minor {
	/* Clear button */
	float: left;
	background-color: #888;
}

.Actions input.resetformaction:hover,
.Actions input.action-minor:hover {
	/* Clear button */
	background-color: #aaa;
}

/* Labels */

form .requiredField label.left:after,
form .field.required label.left:after {
	/* pseudo element adds an asterisk to a required fields label */
	color: #B94A48;
	content: "*";
	font-size: 14px;
	font-weight: normal;
	padding-left: 3px;
}
