@import "../base/mixins";

body{
	overflow-x: hidden;
}
.gallery{
	.owl-stage-outer{
		position: fixed !important;
		transition: 0.3s;
	}
	.owl-controls{
		opacity: 0;
		visibility: hidden;
	}

  .owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }
}

.gallery_content{
	float: left;
	width: 360px;
	padding-right: 60px;
	padding-top: 70px;
	@include breakpoint(medium){
		padding-top: 0;
	}
}

.gallery_items_wrapper{
	margin-left: 360px;
	position: relative;
}

.gallery_overlay{
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	z-index: 999;
	height: 1000px;
}

body.gallery_open .gallery_overlay{
	display: none;
}

.owl-carousel .owl-item {
	img{
		width: auto !important;
		max-width: initial;
		height: 100%;
		transition: margin 0.3s linear;
	}
}

.owl-carousel .owl-item img{
	margin: 0 auto;
}

.gallery_closed{
	.owl-carousel .owl-item img{
		margin: 0;
	}
	.owl-carousel .owl-video-tn{
		background-position: top left;
	}
	.owl-carousel .owl-video-wrapper{
		background: transparent;
	}
}

body.gallery_open{
	.navbtn_prev{
		left: 0px;
	}
	.gallery{
		.owl-stage-outer{
			position: fixed !important;
			left: 20px;
			@include breakpoint(medium){
				left: 50px;
			}
		}
	}
}

body.gallery_layout{
	a.navbtn{
		display: block;
	}
}

.gallery_item_end{
	text-align: center;
}

.gallery_item .audio{
	background: #303030;
	position: absolute;
	bottom: 0;
	left: -190px;
	margin-left: 50%;
	height: 60px;
	overflow: hidden;
	width: 380px;
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 13px;
		left: 63px;
		width: 20px;
		height: 18px;
		background: #303030;
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: 4px;
		right: 4px;
		width: 81px;
		height: 25px;
		background: #303030;
	}
	iframe{
		margin-top: -50px;
	}
}

body.gallery_closed .gallery_item .audio{
	left: 20px;
	margin-left: 0;
}

.gallery_item{
	.lastslide_link{
		display: inline-block;
		position: absolute;
		top: 50%;
		margin-top: -12px;
	}
	.lastslide_back{
		left: 30px;
	}
	.lastslide_next{
		right: 30px;
	}
}

@media all and (min-width: 1200px) and (max-width: 1300px){
	body.gallery_closed .owl-video-play-icon{
		margin-left: -120px;
	}
}