@import "../base/mixins";

.col{
	float: left;
	width: 100%;
}

.col_1{ width: 100%; }
.col_3{ width: 25%; }
.col_4{ width: 33.3%; }
.col_6{ width: 50%; }
.col_8{ width: 66.6%; }
.col_9{ width: 75%; }
.col_12{ width: 100%; }

.show_xsmall, .show_small, .show_medium, .show_large, .show_xlarge {
	display: none !important;
}

@include breakpoint(xsmall){
	.col_xsmall_3{ width: 25%; }
	.col_xsmall_4{ width: 33.3%; }
	.col_xsmall_6{ width: 50%; }
	.col_xsmall_8{ width: 66.6%; }
	.col_xsmall_9{ width: 75%; }
	.col_xsmall_12{ width: 100%; }

	.show_xsmall { display: block !important; }
	.hide_xsmall { display: none !important; }
}

@include breakpoint(small){
	.col_small_3{ width: 25%; }
	.col_small_4{ width: 33.3%; }
	.col_small_6{ width: 50%; }
	.col_small_8{ width: 66.6%; }
	.col_small_9{ width: 75%; }
	.col_small_12{ width: 100%; }

	.show_small { display: block !important; }
	.hide_small { display: none !important; }
}

@include breakpoint(medium){
	.col_medium_3{ width: 25%; }
	.col_medium_4{ width: 33.3%; }
	.col_medium_6{ width: 50%; }
	.col_medium_8{ width: 66.6%; }
	.col_medium_9{ width: 75%; }
	.col_medium_12{ width: 100%; }

	.show_xsmall, .show_small, .show_medium { display: block !important; }
	.hide_xsmall, .hide_small, .hide_medium { display: none !important; }
}

@include breakpoint(large){
	.col_large_3{ width: 25%; }
	.col_large_4{ width: 33.3%; }
	.col_large_6{ width: 50%; }
	.col_large_8{ width: 66.6%; }
	.col_large_9{ width: 75%; }
	.col_large_12{ width: 100%; }

	.show_xsmall, .show_small, .show_medium, .show_large { display: block !important; }
	.hide_xsmall, .hide_small, .hide_medium, .hide_large { display: none !important; }
}

@include breakpoint(xlarge){
	.col_xlarge_3{ width: 25%; }
	.col_xlarge_4{ width: 33.3%; }
	.col_xlarge_6{ width: 50%; }
	.col_xlarge_8{ width: 66.6%; }
	.col_xlarge_9{ width: 75%; }
	.col_xlarge_12{ width: 100%; }

	.show_xsmall, .show_small, .show_medium, .show_large, .show_xlarge { display: block !important; }
	.hide_xsmall, .hide_small, .hide_medium, .hide_large, .hide_xlarge { display: none !important; }
}