@import "../base/mixins";
@import "../base/variables";

.hamburger {
  cursor: pointer;
  padding: 20px 25px 16px 0px;
  display: block;
  width: 30px;
  z-index: 999;
  position: absolute;
  top: 10px;
	right: 18px;
	transition: 0.3s;

  span, span:before, span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 25px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    transition: 0.5s;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  @include breakpoint(medium){
    display: none;
  }
}

body.gallery_layout{
	.hamburger{
		left: 330px;
		right: initial;
	}
}

body.gallery_open{
	.hamburger{
		display: none;
	}
}

body.type_newsholder{
	.hamburger {
		&:before{
			content: "MENU";
			font-family: $font_family_alt_1;
			position: relative;
			left: -50px;
			top: 15px;
			opacity: 1;
		}
	}
	&.menu_panel_active{
		.hamburger {
			&:before{
				opacity: 0;
			}
		}
	}
}

body.menu_panel_active{
  .hamburger {
    left: 268px;
    right: initial;

    span {
      background-color: transparent;
    }
    span:before, span:after{
      top: 0;
      background-color: #9c9c9c;
    }
    span:before{
      transform: rotate(45deg);
    }
    span:after{
      transform: rotate(-45deg);
    }
  }
}

.menu_panel{
	height: 58px;
}

a.menu_panel__sitetitle {
  font-family: $font_family_alt_1;
  font-size: 18px;
  color: #231f20;
  display: block;
  margin-bottom: 60px;
  line-height: 1.35;
}

.menu_panel__menu{
	width: 165px;
	margin-left: -5px;
	li{
		font-family: $font_family_alt_2;
		li:hover > a{
			color: #fff;
			background-color: lighten($font_color, 25%);
		}
	}
	& > li{
		margin-bottom: 18px;
		&.current > a, &.section > a{
			font-weight: bold;
			color: #000;
		}
	}
	ul li a{
		color: lighten($font_color, 25%);
	}
	a{
		display: inline-block;
		padding: 0 5px;
		&:hover{
			color: #000;
		}
	}
	&.highlight_current{
		li{
			li.current > a, li.section > a{
				color: #fff;
				background-color: lighten($font_color, 25%);
			}
			li > a:hover{
				color: #fff;
				background-color: lighten($font_color, 40%);
			}

			li.section li a{
				padding-left: 15px;
				color: lighten($font_color, 25%);
				background: #fff;
				&:hover{
					color: #fff;
					background-color: lighten($font_color, 40%);
				}

			}
		}
	}
}

@include breakpoint(xsmall, medium){
	body.gallery_layout .menu_panel{
		height: 0px;
	}
	.menu_panel nav{
		position: absolute;
		background: #fff;
		top: 100px;
		left: 20px;
		width: 250px;
		z-index: 999;
		margin-left: -250px;
		transition: 0.2s;
	}
	.menu_panel_active{
		.menu_panel nav{
			margin-left: 0;
		}
		.menu_panel__menu{
			border-right: 1px solid lightgray;
		}
		.content{
			left: 250px;
		}
	}
}