@import "../base/mixins";

.navbtn{
	position: fixed;
	top: 50%;
	height: 60px;
	width: 15px;
	background: #6f6f6f;
	cursor: pointer;
	font-size: 65px;
	line-height: 0.75;
	color: #fff;
	opacity: 0.8;
	margin-top: -30px;
	transition: 0.3s;
	user-select: none;
  z-index: 1000;

  &:hover{
    background: #111;
    color: #fff;
  }
  &.has_prev_page{
    display: block !important;
    left: 0 !important;
  }
  &.has_next_page{
    display: block !important;
    right: 0 !important;
  }
}

.navbtn_next{
	right: 0;
	padding-left: 5px;
	text-indent:  -7px;
}

.navbtn_prev{
	left: -40px;
	padding-right: 5px;
	text-indent:  -3px;
	display: none;
}

.navbtn_start{
	left: -40px;
	margin-top: 45px;
	padding-right: 5px;
	text-indent:  -3px;
	letter-spacing: -17px;
}

body.gallery_prog1{
	.navbtn_start{
		left: 0;
	}
}

body.last_slide {
	.navbtn_prev{
		display: none !important;
	}
	.navbtn_start{
		margin-top: -30px;
	}
}

@include breakpoint(medium){
	.navbtn{
		width: 40px;
		font-size: 100px;
		line-height: 0.37;
	}
	.navbtn_prev{
		text-indent: 0px;
	}
	.navbtn_next{
		text-indent: 0px;
	}
}

@include breakpoint(xsmall, medium){
	body.menu_panel_active.gallery_layout .navbtn_next{
		display: none !important;
	}
	.navbtn_start{
		display: none !important;
	}
}

body.type_newsholder .navbtn{
	display: none;
}