@import "../base/mixins";
@import "../base/variables";

.article{
	background: #fff;
}

.article_intro{
	margin-top: -20px;
}

.article_meta{
	color: lighten($font_color, 15%);
}

#pagination_loading{
	img{
		margin: 0 auto;
	}
}

@include breakpoint(xlarge){
	.news_articles{
		margin: 0 -20px;
	}
	.article{
		padding: 20px;
	}
}
