// Global CSS goes here

@import "mixins";

*{
  box-sizing: border-box;
}

.row{
	@include clearfix;
}

.wrapper{
	position: relative;
}

.container{
	min-height: 100%;
	padding: 20px;
	position: relative;
	left: 0;
}

.content{
	max-width: 1030px;
	position: relative;
	left: 0;
	transition: 0.2s;
}

@include breakpoint(medium){
	.container{
		padding: 50px 60px;
	}
	.menu_panel{
		width: 250px;
		float: left;
	}
	.content{
		margin-left: 250px;
	}
}

@include breakpoint(large){
	.two_col_content{
		.col:first-child{
			padding-right: 20px;
		}
		.col:last-child{
			padding-left: 20px;
		}
	}
}

.gallery_layout .content{
	max-width: 100%;
}

.page_top{
	margin-bottom: 20px;
	overflow: hidden;
	@include breakpoint(medium){
		min-height: 106px;
		margin-bottom: 0;
	}
}

/*--------- SHAME ------------ */

.page_top{
	.page_title{
		margin-bottom: 0;
	}
}

.editor_content{
	overflow: hidden;
}

#block_portrait{
	position: absolute;
	top: 120px; bottom: 0; left: 0; right: 0;
	background: #fff;
	text-align: center;
	padding: 40px 20px;
	z-index: 99999;
	@media all and(min-width: 480px){
		display: none;
	}
}

@media all and(max-width: 479px){
	html, body{
		height: 100%;
	}
	.container, a.navbtn, body a.navbtn.navbtn_next{
		display: none !important;
	}
}

body.loading:before{
	content: "";
	display: block;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background: url(../images/ajax-loader.gif) center center no-repeat #fff;
	z-index: 1001;
}