@import "variables";

// breakpoints
@mixin breakpoint($min:false, $max:false) {
	@if $min and index(map-keys($breakpoints) == null, $min) {
		@warn "Warning: `#{$min}` is not a valid breakpoint name.";
	}
	@if $max and index(map-keys($breakpoints) == null, $max) {
		@warn "Warning: `#{$max}` is not a valid breakpoint name.";
	}
	@if $min{
		$min: map-get($breakpoints, $min);
	}
	@if $max{
		$max: map-get($breakpoints, $max);
		$max: $max - 1;
	}
	@if $min and $max == false {
		@media (min-width: $min) { @content; }
	} @else if $max and $min == false {
		@media (max-width: $max) { @content; }
	} @else {
		@media (min-width: $min) and (max-width: $max) { @content; }
	}
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// font smoothing
@mixin font-smoothing($bool: true) {
	@if $bool {
		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
	} @else {
		-webkit-font-smoothing: initial;
    	-moz-osx-font-smoothing: initial;
	}
}

// clear fix
@mixin clearfix(){
  &:before,
  &:after{
    content: " ";
    display: table;
  }

  &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  &{
    *zoom: 1;
  }
}

// buttons
@mixin btn() {
	background: $button_color;
	color: #fff;
	display: inline-block;
	padding: 0 24px;
	margin-bottom: 10px;
	margin-right: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 42px;
	border: none;
	font-size: 15px;
	font-family: $light_font_family;
	float: left;
	cursor: pointer;
	transition-duration: 0.3s;
	text-transform: uppercase;
	&:hover {
		background: $button_hover_color;
		color: #fff;
	}
	&.rounded{
		border-radius: 5px;
	}
	// sizes
	&.btn_small{
		padding: 0 16px;
		font-size: 12px;
		line-height: 33px;
	}
	&.btn_large{
		padding: 0 30px;
		font-size: 20px;
		line-height: 55px;
	}
	// colors
	&.btn_black{
		background: #333;
		&:hover {
			background: lighten(#000, 10%);
			color: #fff;
		}
	}
}

// fluid grid with consistent column width and fluid margins
@mixin grid($cols, $margin){
	.grid_item{
		$totalMargin: ($cols - 1) * $margin;
		$totalWidth: 100 - $totalMargin;
		$columnWith: $totalWidth / $cols;
	    width: unquote($columnWith + "%");
	    margin-right: unquote($margin + "%");
	    float: left;
	    @if $cols != 1 {
	    	&:nth-child(#{$cols + "n+" + $cols}){
				margin-right: 0;
			}
	    }
	}
}

// fluid column based on x columns
$columns: 12;
@mixin cols($cols){
	$width: $cols / $columns * 100;
	width: unquote($width + "%");
	float: left;
}