@import "variables";
@import "mixins";
@import "typecssetreset";


html {
  -webkit-text-size-adjust: none; /* force Webkit to allow 1px font-size */
}

body {
  color: $font_color;
  font-family: $font_family;
  @include font-smoothing(true);
}

/* Headings
-------------------------------------------- */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $heading_font_family;
  font-weight: bold;
  color: $heading_color;
}

/* Paragraphs
-------------------------------------------- */

p {
  margin-bottom: 10px;
}

::selection,
::-moz-selection {
  background: #b80000;
  color: #fff;
  text-shadow: none;
}

/* Links
-------------------------------------------- */

a,
a:visited {
  color: $font_color;
  text-decoration: none;
  &:hover,
  a:focus {
    text-decoration: none;
    color: $font_color;
  }
}

.typography {
  a,
  a:visited {
    color: $link_color;
    text-decoration: none;
    font-weight: bold;
    &:hover,
    a:focus {
      text-decoration: none;
      color: $link_color_hover;
    }
  }
}

/* Lists
-------------------------------------------- */
ul,
ol {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.typography {
  ul {
    & li {
      list-style-type: disc;
      & li {
        list-style-type: circle;
      }
    }
  }
}

ol {
  & li {
    list-style-type: decimal;
  }
}

/* Tables
-------------------------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  margin: 0 0 10px 0;
  text-align: left;
  td,
  th {
    padding: 8px 10px 4px 0;
    vertical-align: top;
  }
}
table.table {
  border: 1px solid $light_grey;
  border-spacing: 0;
  tr:nth-child(even) {
    background-color: $lighter_grey;
  }
  tr.even,
  th,
  thead td {
    background-color: $lighter_grey;
  }
  td,
  th {
    border: 1px solid $light_grey;
  }
  th {
    font-weight: bold;
  }
}

/* WYSIWYG EDITOR ALIGNMENT CLASSES
-------------------------------------------- */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* IMAGES
-------------------------------------------- */

img {
  max-width: 100%;
  height: auto;
}

.typography {
  & img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

@media \0screen {
  img {
    width: auto;
  }
}

img.left {
  float: left;
  max-width: 50%;
  margin: 5px 20px 10px 0;
}

img.right {
  float: right;
  max-width: 50%;
  /* Responsive width */
  margin: 5px 0 10px 20px;
}

img.leftAlone {
  float: none;
  margin-right: 100%;
  margin-bottom: 10px;
  margin-bottom: 10px;
  clear: both;
}

img.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  clear: both;
}

/* BLOCKQUOTES
-------------------------------------------- */
blockquote,
blockquote p {
  font-size: 17px;
  line-height: 2;
  color: #777;
  font-style: italic;
}

blockquote {
  margin-bottom: 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid $light_grey;
}

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555;
}

/* Pre
-------------------------------------------- */
pre {
  background: $lighter_grey;
  border: 1px solid $light_grey;
  font-family: Courier, monospace;
  margin-bottom: 20px;
  padding: 15px;
  clear: both;
}

/* ADDRESS
-------------------------------------------- */
address {
  display: block;
  margin-bottom: 20px;
}

/* HR
-------------------------------------------- */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid $font_color;
  margin: 0 0 20px;
}
