@import "typecsset";


/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 */

@if $typecsset-show-baseline == true {
/**
 * 3. If you have chosen to display a baseline grid, we turn it on here.
 */
}

html,body.mceContentBody {
    font-size: $typecsset-base-font-size / 16px + em; /* [1] */
    line-height: $typecsset-base-line-height / $typecsset-base-font-size; /* [2] */

    // If you have chosen to display a baseline grid, we turn it on here.
    @if $typecsset-show-baseline == true {

        $typecsset-baseline-size: typecsset-strip-units($typecsset-magic-number);

        background-image: url(http://basehold.it/i/#{$typecsset-baseline-size}); /* [3] */
    }

}

body {
    margin: 0;
}





/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1 {
    @extend %typecsset-vertical-rhythm;
    @include typecsset-font-size($typecsset-h1-size);
}

h2 {
    @extend %typecsset-vertical-rhythm;
    @include typecsset-font-size($typecsset-h2-size);
}

h3 {
    @extend %typecsset-vertical-rhythm;
    @include typecsset-font-size($typecsset-h3-size);
}

h4 {
    @extend %typecsset-vertical-rhythm;
    @include typecsset-font-size($typecsset-h4-size);
}

h5 {
    @extend %typecsset-vertical-rhythm;
    @include typecsset-font-size($typecsset-h5-size);
}

h6 {
    @extend %typecsset-vertical-rhythm;
    @include typecsset-font-size($typecsset-h6-size);
}





/*------------------------------------*\
    #LISTS
\*------------------------------------*/
ul, ol, dd {
    @extend %typecsset-vertical-rhythm;
    @include typecsset-space(margin-left);
}

li > ul,
li > ol {
    margin-bottom: 0;
}





/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/
p {
    @extend %typecsset-vertical-rhythm;

    @if $typecsset-indented-paragraphs == true {

        + p {
            @include typecsset-space(text-indent);
            margin-top: -$typecsset-magic-number;
            margin-top: -$typecsset-magic-ratio + rem;
        }

    }

}

/**
 * Not strictly a paragraph, but probably doesn’t need its own section.
 */
address {
    @extend %typecsset-vertical-rhythm;
}





/*------------------------------------*\
    #CODE
\*------------------------------------*/
pre {
    @extend %typecsset-vertical-rhythm;
}

/**
 * 1. Fix an odd quirk whereby, without this, code blocks are rendered at a
 *    font-size smaller than 1em.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace; /* [1] */
}





/*------------------------------------*\
    #QUOTES
\*------------------------------------*/
/**
 * 1. Hang the opening quote of the blockquote.
 */
blockquote {
    text-indent: -0.41em; /* [1] */
}

/**
 * Set up quote marks on quoting elements. This is very English-based, so we are
 * using “, ”, ‘, and ’ quotes.
 */
blockquote {
    @extend %typecsset-vertical-rhythm;
    quotes: "“" "”";
    @include typecsset-space(margin-left);

    p {

        &:before {
            content: "“";
            content: open-quote;
        }

        &:after {
            content: "";
            content: no-close-quote;
        }

        &:last-of-type:after {
            content: "”";
            content: close-quote;
        }

    }

}

q   {
    quotes: "‘" "’" "“" "”";

    &:before {
        content: "‘";
        content: open-quote;
    }

    &:after {
        content: "’";
        content: close-quote;
    }

    q:before {
        content: "“";
        content: open-quote;
    }

    q:after{
        content: "”";
        content: close-quote;
    }

    /**
     * If an element opens with an inline quote, let’s hang that.
     */
    &:first-child {
        display: inline-block;
        text-indent: -0.22em;
    }

}





/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 */
table {
    @extend %typecsset-vertical-rhythm;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: $typecsset-base-line-height / 2;
}