// Variables go here

/* Base
-------------------------------------------- */

$wrapper_width: 1024px;
$wrapper_padding: 0 30px;

/* Colors
-------------------------------------------- */
$font_color: #4c4c4c;
$heading_color: #444;
$color_1: #b40101;
$color_2: #e2e1da;
$light_grey: #e5e5e5;
$lighter_grey: #f7f7f7;

/* Breakpoints
-------------------------------------------- */
$breakpoints: (
  xxlarge: 1360px,
  xlarge: 1136px,
	large: 945px,
	medium: 768px,
	small: 545px,
	xsmall: 0px
);

/* Typography
-------------------------------------------- */
$font_size: 14px;
$font_family: "Lato", "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
$heading_font_family: $font_family;
$font_family_alt_1: "Dosis", $font_family;
$font_family_alt_2: "Roboto Condensed", $font_family;
$link_color: $font_color;
$link_color_hover: $font_color;

$typecsset-base-font-size:      $font_size;
$typecsset-base-line-height:    24px;
$typecsset-h1-size:             14px;
$typecsset-h2-size:             14px;
$typecsset-h3-size:             14px;
$typecsset-h4-size:             14px;
$typecsset-h5-size:             14px;
$typecsset-h6-size:             14px;
$typecsset-show-baseline:       false;


/* Buttons
-------------------------------------------- */
$button_color: $color_1;
$button_hover_color: darken($color_1, 5%);



